.lists{
    display: flex;
    flex-direction: column;
    margin: 10px 25%;
    width:40%;
}
.goodsList ,.bottomBox{
    width: 90%;
    height: auto;
    padding:10px 5%;
    display: flex;
    flex-direction: row;
}
.goodsList img{
    width:20%;
    height: 160px;
}
.info{
    display: flex;
    flex-direction: column;
}
.info span{
    margin: 10px 30px;
}
#toPay{
    background-color: aliceblue;
    color: deepskyblue;
    margin-left:60%;
    padding:5px 30px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-align:center;
}